@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<center>
    <canvas id="canvas" width="578" height="400" />
</center>

<script>
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      var imageObj = new Image();

      imageObj.onload = function() {
        context.drawImage(imageObj,0 , 0);
      };
      imageObj.src = 'https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAnMAAAAJGVjOGM4NjJjLTQwNTQtNGYxOC05ODU1LTQ3ZmVhMWVhYjg5MQ.jpg';
</script>
