<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDbK3-PKcz9w3uDXkR49HxkIYy5I-2tR8k"
        type="text/javascript"></script>
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<center>
    <address>
        Our office is at
    </address>
    <address>
        <strong>Owners: </strong> <br />
        <a href="mailto:danae@example.com">danae@example.com</a><br />
        <a href="mailto:stavl@example.com">stavl@example.com</a><br />
        <a href="mailto:noar@example.com">noar@example.com</a><br />
        <a href="mailto:tomm@example.com">tomm@example.com</a><br />
    </address>


    <div id="map" style="width: 500px; height: 400px;"></div>
</center>
<script type="text/javascript">
    function initMap() {
        var myLatLng = { lat: 31.957328, lng: 34.84056599999997 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });

        marker.setMap(map);
    }

    initMap();
</script>
