<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDbK3-PKcz9w3uDXkR49HxkIYy5I-2tR8k"
        type="text/javascript"></script>
@{
    ViewBag.Title = "Contact Us";
}
<center>
    <h6 style="margin: 20px 0">@ViewBag.Title</h6>
    <address>
        Our office is at Tzrifin, Rishon Lezion
    </address>
    <address>
        <strong>Owners: </strong> <br/>
        <a href="mailto:danaeliyahu@gmail.com">danaeliyahu@gmail.com</a><br/>
        <a href="mailto:stavlev95@gmail.com">stavlev95@gmail.com</a><br/>
        <a href="mailto:noa3005@gmail.com">noa3005@gmail.com</a><br/>
        <a href="mailto:itommen@gmail.com">itommen@gmail.com</a><br/>
    </address>


    <div id="map" style="width: 500px; height: 400px;"></div>
</center>
<script type="text/javascript">
    function initMap() {
        var myLatLng = { lat: 31.957328, lng: 34.84056599999997 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });

        marker.setMap(map);
    }

    initMap();
</script>
