@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-shadow: 5px 5px grey;">Recipes
    </h1>
    <p class="lead">A site for sharing recipes, with everyone. </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            In our website, you can enjoy a variety of recipes from all around the world 
            And also you can share your personal recipe with everyone and recieve feedback and suggestions
        </p>
    </div>
    <div class="col-md-6">
        <h2>Our Best</h2>
        <video width="300" height="300" controls>
            <source src="~/Content/Tasty.mp4" type="video/mp4">
        </video>         
    </div>
</div>