@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-shadow: 5px 5px grey;">Recipes
    </h1>
    <p class="lead">A free blog about music. You can talk about anything that's on your mind. </p>
    <p style="width: 100px;height: 100px;font-family: musicFont;"><a href="https://en.wikipedia.org/wiki/Music_box"  class="btn btn-primary btn-lg">What is music box?! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Music Box gives you a powerful, dynamic, generic and superb blog.
            You can register to our blog, post some data about music and share your knowledge with people around the world.
            Write some comments for other people, give feedback!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Blog">What is blog? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Listen to music</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Music">What is music? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Best</h2>
        <video width="300" height="300" controls>
            <source src="~/Content/Cliff.mp4" type="video/mp4">
        </video>         
    </div>
</div>