<!--Sharon Grozman - 311429963 -->
<!--Elhen Shmailov - 313736639 -->
<!--Tomer Parizer - 312465602-->

@{
    ViewBag.Title = "Failed Login";
}


<div class="container-fluid">
    Login failed, please check your credentials and make sure you have entered them correctly!
    <button>@Html.ActionLink("התחברות מחדש", "MusicBoxLogin", "Clients")</button>

</div>