<!--Sharon Grozman - 311429963 -->
<!--Elhen Shmailov - 313736639 -->
<!--Tomer Parizer - 312465602-->

@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
