<!--Sharon Grozman - 311429963 -->
<!--Elhen Shmailov - 313736639 -->
<!--Tomer Parizer - 312465602-->

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
