<!--Sharon Grozman - 311429963 -->
<!--Elhen Shmailov - 313736639 -->
<!--Tomer Parizer - 312465602-->

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

