<!--Sharon Grozman - 311429963 -->
<!--Elhen Shmailov - 313736639 -->
<!--Tomer Parizer - 312465602-->

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDbK3-PKcz9w3uDXkR49HxkIYy5I-2tR8k"
        type="text/javascript"></script>
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<center>
    <address>
        We are just near you<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        052-342-9778
        
        </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Elhen15@example.com">Elhen@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Sharon@example.com">Sharon@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Sharon@example.com">Tomer@example.com</a>
    </address>


    <div id="map" style="width: 500px; height: 400px;"></div>
</center>
    <script type="text/javascript">
  var crd, locations;
  var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(setMap, error, options);

  function setMap(pos){
crd = pos.coords;
locations = [
      ['YOU',crd.latitude, crd.longitude, crd.accuracy],
    ];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(crd.latitude, crd.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker;

        marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[0][1], locations[0][2]),
        map: map
      });


      google.maps.event.addListener(marker, 'click', (function(marker) {
        return function() {
          infowindow.setContent(locations[0][0]);
          infowindow.open(map, marker);
        }
      })(marker));

  }
    </script>
